* {
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', sans-serif !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15) !important;
}


.tab-text[selected=''], #tabs-newtab-button[selected=''] {
  font-size: 1.1em !important;
    opacity: 90% !important;
  margin-top: 0px !important;
  color: rgb(255, 255, 255) !important;
}

.tab-text, #tabs-newtab-button {
  font-size: 1.1em !important;
      opacity: 70% !important;
  margin-top: 0px !important;
  color: rgba(255, 255, 255) !important;
}

.zen-essentials-container {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important; /* Two items per row */


    }



.tabbrowser-tab[selected="true"]::before {
  content: "" !important;
  position: absolute !important;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(to bottom right, rgba(255,255,255,0.4), rgba(255,255,255,0.00));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 70% !important;
  z-index: 2;
}

#PanelUI-button{
  display: none !important;
}

#zen-main-app-wrapper {
    position: relative;
    padding: 0px; /* Space for the inside border */
  background-color: rgba(50, 50, 50, 0.45)!important;
  padding-left: 1px !important;
}

  /* Default height for #zen-appcontent-navbar-container when collapsed is false */
:root[zen-single-toolbar="true"]:not([customizing]) #zen-appcontent-navbar-container {
  &:has(#PersonalToolbar[collapsed="false"]) {
    height: 38px !important; /* Default height */
    transition: height 0.3s ease-in-out, padding-top 0.3s ease-in-out, opacity 0.3s ease-in-out !important; /* Add smooth transitions */
  }
}

/* When the conditions aren't met, set height to 0px */
:root[zen-single-toolbar="true"]:not([customizing]) #zen-appcontent-navbar-container {
  &:has(#PersonalToolbar[collapsed="false"]) {
    @media (-moz-bool-pref: "zen.view.hide-window-controls") {
      &:not([zen-has-hover="true"]):not([has-popup-menu]):not(:focus-within):not(:has(:is([panelopen="true"], [open="true"]))) {
        height: 0px !important; /* Set height to 0px when the conditions aren't met */
        opacity: 0 !important; /* Fade out */
                transition: all 0.3s ease-in-out !important; /* Smooth transition for padding */

      }
    }
  }
}

/* Set height back to 38px when the conditions aren't met, as the default */
:root[zen-single-toolbar="true"]:not([customizing]) #zen-appcontent-navbar-container {
  &:has(#PersonalToolbar[collapsed="false"]) {
    height: 40px !important; /* Default height when the hover is not active */
    opacity: 1 !important; /* Make sure it's visible */
  }
}
