* {
  font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  
}




#zen-sidebar-top-buttons-customization-target{
  margin-top: -0px !important;
}

#tabbrowser-tabbox{
  padding-top: 2px !important;
  padding-bottom: 0px !important;
}

#zen-current-workspace-indicator-container{
  padding: 0px !important;
 transform: translateX(-0px) !important;

  margin-top: -15px !important;
  margin-bottom: 35px !important;
}

.zen-current-workspace-indicator-name{
  font-size: 12px !important;
 transform: translateX(-0px) !important;
    padding-top: 1px !important;

}


.tab-background[selected=''] {
  background-color: rgba(255, 255, 255, 0.6) !important;
  opacity: 0.5 !important;
}

#zen-tabs-wrapper .tab-background{
  margin: 4px 0 !important;
}



#zen-essentials-container {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  padding-top: 3px !important;
  padding-bottom: 4px !important;
  margin-bottom: 8px !important;
  gap: 5px !important;
}

#unified-extensions-button {
  position: absolute !important;
  bottom: 32px !important;
  margin-left: -2px !important;
  
  z-index: 9999 !important;
}

#unified-extensions-button::before {
  content: "Extensions" !important; /* Adds the text "Addons" */
  position: absolute !important; /* Position it relative to the button */
  top: 5px !important; /* Adjust as needed for spacing */
  left: 35px !important; /* Align it to the left of the button */
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.6) !important; /* White color with 0.6 opacity */

  border-radius: 5px !important; /* Optional: make the background rounded */
}



#navigator-toolbox{
min-width: 147px !important;
}

.tab-icon-image{
  height: 14.5px !important;
  width: auto !important;
  z-index: 9 !important;
}


#zen-essentials-container, #zen-sidebar-bottom-buttons, #zen-tabs-wrapper{
  padding-right: 8px !important;
  padding-left: 3px !important;
  
}



#reload-button{
  margin-right: -4px !important;
}


#nav-bar{
  margin-top: -2px !important;
  margin-right: -2px !important;
  margin-left: 3px !important;
}

#urlbar-background {
    border-radius: 10px !important;
  
  min-height: 37px !important;
  background: rgba(5, 5, 5, 0.3) !important;

}

.urlbar-input-container {
  padding-left: 10px !important;
    color: rgba(255, 255, 255, 0.85) !important; /* White color with 0.6 opacity */

  padding-bottom: 2px !important; /*
  background-color:  rgba( 255, 255, 255, 0.05) !important; */
}

.tab-text[selected=''], #tabs-newtab-button[selected=''] {
  font-size: 1.1em !important;
  font-weight: 375 !important;
    opacity: 90% !important;
  margin-top: -1px !important;
  color: rgb(255, 255, 255) !important;
}

.tab-text, #tabs-newtab-button {
  font-size: 1.1em !important;
  font-weight: 375 !important;
      opacity: 70% !important;
  margin-top: -1px !important;
  color: rgba(255, 255, 255) !important;
}

#zen-sidebar-bottom-buttons {
  margin-bottom: -3px !important;
  margin-left: -4px !important;
  padding: 32px 0px 0px 1px !important;
  position: relative;
    border-radius: 4px !important;
  box-shdow: inset 0 0 0 1px rgba(255, 255, 255, 0.1) !important; /* Inset 1px black with 60% opacity */

  backgrond: rgba(255, 255, 255, 0.1) !important;
  width: calc(100% - 2px) !important; /* 100% width minus 10px */
}


#zen-sidebar-bottom-buttons::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 2%; /* Centers the border */
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1); /* Less opaque */
}

/* Apply these styles only when Firefox is NOT in fullscreen mode */
#main-window:not([sizemode="fullscreen"]) #zen-appcontent-navbar-container {
}

#main-window:not([sizemode="fullscreen"]) #zen-main-app-wrapper {
  position: relative; /* Needed for positioning the pseudo-element */
  border: 0px solid rgba(0, 0, 0, 0.7) !important; /* Outer border */
  border-radius: 8px !important; /* Match the border-radius */
  margin-top: 1px !important;
}

#main-window:not([sizemode="fullscreen"]) #zen-main-app-wrapper::before {
  content: '';
  position: absolute;
  top: 0.5px; /* Offset for the inner border */
  left: 1px; /* Offset for the inner border */
  right: 1px;
  bottom: 1px;
  border: 1px solid rgba(220, 220, 220, 0.3) !important; /* Outer border */
  border-radius: 6px; /* Match the adjusted radius inside */
  pointer-events: none; /* Ensures it doesn't interfere with clicks */
  z-index: 22221; /* Layer it above the element's background but below the content */
}

#main-window:not([sizemode="fullscreen"]) #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important; /* Subtle drop shadow */
  border: 1px solid rgba(0, 0, 0, 0.0) !important; /* Outer border */
  margin: -2px -0px -1px -0px !important;
  position: relative; /* Needed for positioning the pseudo-element */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.01) !important; /* Subtle and almost invisible box shadow */
}



#main-window:not([sizemode="fullscreen"]) #sidebar-box {
  border-radius: 3px 3px 3px 3px !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important; /* Subtle drop shadow */
  border: 0px solid rgba(0, 0, 0, 0.01) !important; /* Almost transparent border */
  border: 1px solid rgba(0, 0, 0, 0.5) !important; /* Outer border */
  margin: -2px -1px -1px -0px !important;
  position: relative; /* Needed for positioning the pseudo-element */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.01) !important; /* Subtle and almost invisible box shadow */
}

#main-window:not([sizemode="fullscreen"]) #sidebar-box::before {
  content: '';
  position: absolute;
  top: 0px; /* Offset for the inner border */
  left: 0px; /* Offset for the inner border */
  right: 0px;
  bottom: 0px;
  border: 1px solid rgba(220, 220, 220, 0.2) !important; /* Outer border */
  border-radius: 2px 2px 2px 2px !important; /* Match the adjusted radius inside */
  pointer-events: none; /* Ensures it doesn't interfere with clicks */
  z-index: 22221; /* Layer it above the element's background but below the content */
}

#zen-sidebar-bottom-buttons {
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  padding: 32px 0px 0px 1px !important;
  position: relative;
    border-radius: 4px !important;
  box-shdow: inset 0 0 0 1px rgba(255, 255, 255, 0.1) !important; /* Inset 1px black with 60% opacity */

  backgrond: rgba(255, 255, 255, 0.1) !important;
  width: calc(100% - 2px) !important; /* 100% width minus 10px */
}


#zen-sidebar-bottom-buttons::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 2%; /* Centers the border */
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1); /* Less opaque */
}


#vertical-pinned-tabs-container-separator {
	background: solid black !important;
	margin: 5px auto;
  height: 1px !important;
  border-radius: 50px !important;
	width: 90% !important;
}

.vertical-pinned-tabs-container-separator{
width: 90% !important;
  margin-left: 8px !important;
  margin-top: 5px !important;
  margin-bottom: 6px !important;
}



/* URL BAR MODS */

#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]):after {
  top: -6px !important;
}

.urlbarView-body-inner {
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
    border-top: none !important;
  }
}

.search-one-offs {
  display: none !important;
}

#urlbar[breakout-extend="true"] > #urlbar-background {
  background: rgba(10, 10, 10, 0.4) !important;
  backdrop-filter: blur(3rem) !important;
  border-radius: 16px !important;
  border-color: transparent !important;
}

#urlbar[breakout-extend] {
  #identity-permission-box,
  #tracking-protection-icon-container,
  #page-action-buttons {
    display: none !important;
  }

  #identity-icon-box {
    margin: 5px !important;
    scale: 150%;
    border-radius: 6px !important;
  }

  #identity-box {
    margin-right: 0px !important;
  }

  #urlbar-input {
    margin-left: 5px !important;
    margin-right: 5px !important;
    font-size: 20px !important;
  }
}

.urlbarView-row-inner {
  border-radius: calc(var(--urlbarView-row-gutter) + var(--toolbarbutton-border-radius));
  display: flex !important;
}

.urlbarView-title,
.urlbarView-title-separator,
.urlbarView-action,
.urlbarView-url {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.urlbarView-title {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.urlbarView-url,
.urlbarView-title-separator::before {
  font-weight: 500 !important;
  color: rgba(215, 215, 215) !important;
}

.urlbarView-favicon {
  margin-left: 3px !important;
  margin-right: 12px !important;
  padding: 4px !important;
  border-radius: 6px !important;
  transform: scale(1.5) !important;
}

.urlbarView-row:hover {
  background: transparent !important;
}

.urlbarView-row:hover .urlbarView-favicon {
  background-color: #f1efe2 !important;
}

.urlbarView-row:hover .urlbarView-row-inner {
  background: color-mix(in srgb, var(--zen-colors-primary) 30%, #f1efe230) !important;
}

* {
  --urlbarView-item-inline-padding: 8px !important;
  --urlbarView-item-block-padding: 12px !important;
}

/* COLORED TAB BACKGROUND */

#zen-essentials-container .tabbrowser-tab {
    --toolbarbutton-inner-padding: 0px;
    width: 100% !important;
  
    border-radius: var(--border-radius-medium);

    &[selected] {
        transform: scale(1.0) !important;
    }

    &[selected] .tab-background {
        box-shadow: none !important;
        border-radius: 10px !important;
        border: none !important;
        opacity: 0.85 !important;
        z-index: -99 !important;

        &[selected] {
            transition: all 0.3s ease-in-out !important;
            animation: ease-in-out 10s !important;
            border-radius: 10px !important;
        }

        &::after {
            content: "";
            filter: blur(30px) brightness(0.75) contrast(1.1) !important;
            position: absolute;
            background-size: 100% 100%;
            background-clip: padding-box;
            background-image: var(--zen-tab-icon);
            z-index: -1;
        }

        background: transparent;
        overflow: hidden;

        &::before {
            background: black !important;
            opacity: 10% !important;
            border-radius: calc(var(--tab-border-radius) - 2px);
            position: absolute;
            z-index: 0;
            content: "";
            transition: background 0.2s ease-in-out;
        }
    }

    &:not([selected], [multiselected="true"]) .tab-background {
        box-shadow: none !important;
        outline: none !important;
        z-index: -99 !important;
        border-radius: 10px !important;
        background: rgba(255, 255, 255, 0.075) !important;
        backdrop-filter: none !important;
    }

    & .tab-content {
        display: flex;
        justify-content: center;
    }

    & .tab-label-container {
        display: none !important;
    }

    & .tab-close-button {
        display: none !important;
    }

    &[selected]:hover .tab-background::before {}

}

#zen-essentials-container .tabbrowser-tab:hover {
    /* When NOT selected */
    &:not([selected]) .tab-background {
        box-shadow: none !important;
        background: rgba(255, 255, 255, 0.12) !important;
    }

    /* When SELECTED */
    &[selected] .tab-background {
        box-shadow: none !important;

        @media (-moz-bool-pref: 'zen.theme.essentials-favicon-bg') {
            &::after {
                filter: blur(25px) brightness(0.7) contrast(1.1) !important;
            }
        }
    }
}
